<!DOCTYPE html>
<html lang="en" class="localStorage.getItem('theme')">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" integrity="sha384-4em484va1axTOWEtQ2De+F+ZcQgGnWxvbINokKfnVZxyJZP5Iu0RzVqk6N29pMxQ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
        <script type="text/javascript" src="/assets/js/script.js"></script>
        <script type="module" src="/assets/js/script-modules.js"></script>
    </head>
    <body>
        <div class="columns is-centered is-maincolored">
            <div class="column is-four-fifths">
                {% include navigation.html %}
            </div>
        </div>        
        <section class="section">
            {{ content }}
        </section>
        <div id="back2top">
            <a href="#"><i class="fa-solid fa-angles-up"></i></a>
        </div>
    </body>
</html>